<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MDJ0Q700LY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MDJ0Q700LY');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ</title>


  <link rel="stylesheet" href="static/MIQ_by_D.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=DM+Serif+Text&display=swap" rel="stylesheet">

  
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="static/favicon.ico">


  <meta name="robots" content="index, follow">

  <meta name="description" content="Энэ тестийг бөглөснөөр өөрийнхөө олон нууцыг тайлж, өөрийгөө илүү сайн таньхад туслана хэмээн найдаж байна.  Хүн бүр өвөрмөц, онцлогтой. Өөрийгөө илүү тодорхой таньсанаар цаашдын сурах, хөгжих, мэргэших замаа илүү оновчтой сонгоход тань дэм болох юм.">
  <meta name="keywords" content="ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ, ОЛОН ТАЛТ ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ, ТЕСТ, tests, multiple intelligence test, multiple intelligence, MIQ test, free multiple intelligence test, multiple intelligence test mongolia">
  <meta name="author" content="O.Ochirdari">

  <meta property="og:title" content="ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ">
  <meta property="og:description" content="Энэ тестийг бөглөснөөр өөрийнхөө олон нууцыг тайлж, өөрийгөө илүү сайн таньхад туслана хэмээн найдаж байна.  Хүн бүр өвөрмөц, онцлогтой. Өөрийгөө илүү тодорхой таньсанаар цаашдын сурах, хөгжих, мэргэших замаа илүү оновчтой сонгоход тань дэм болох юм.">
  <meta property="og:image" content="https://choistests.onrender.com/favicon.ico">
  <meta property="og:url" content="https://choistests.onrender.com">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ">
  <meta name="twitter:description" content="Энэ тестийг бөглөснөөр өөрийнхөө олон нууцыг тайлж, өөрийгөө илүү сайн таньхад туслана хэмээн найдаж байна.  Хүн бүр өвөрмөц, онцлогтой. Өөрийгөө илүү тодорхой таньсанаар цаашдын сурах, хөгжих, мэргэших замаа илүү оновчтой сонгоход тань дэм болох юм.">
  <meta property="twitter:image" content="https://choistests.onrender.com/favicon.ico">



</head>
<body>
  <div class="topbar">
    <div class="topbar-content">
      <span class="logo">☕ ОЛОН ТАЛТ ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ</span>
      <nav class="nav-links">
        <a href="/">Go to MIQ by Choi</a>
      </nav>
    </div>
  </div>

  <!-- Floating Emoji Background -->
  <div class="emoji-container">
    <div class="emoji" style="top: 15%; left: 25%; animation-delay: 0s;">☕</div>
    <div class="emoji" style="top: 5%; left: 10%; animation-delay: 0s;">☕</div>
    <div class="emoji" style="top: 30%; left: 85%; animation-delay: 0s;">🍪</div>
    <div class="emoji" style="top: 50%; left: 20%; animation-delay: 0s;">🍂</div>
    <div class="emoji" style="top: 70%; left: 70%; animation-delay: 0s;">📖</div>
    <div class="emoji" style="top: 85%; left: 40%; animation-delay: 0s;">🪴</div>
    <div class="emoji" style="top: 60%; left: 60%; animation-delay: 0s;">🪴</div>
  </div>
  
  <div class="container">
    <div class="intro">
      <h1>☕ ОЛОН ТАЛТ ОЮУНЫ ЧАДАМЖИЙГ ҮНЭЛЭХ ТЕСТ </h1>
      <p>Энэ тестийг бөглөснөөр өөрийнхөө олон нууцыг тайлж, өөрийгөө илүү сайн таньхад туслана хэмээн найдаж байна.  Хүн бүр өвөрмөц, онцлогтой. Өөрийгөө илүү тодорхой таньсанаар цаашдын сурах, хөгжих, мэргэших замаа илүү оновчтой сонгоход тань дэм болох юм.</p>
      <p>Доорх тодорхойлолтуудтай та санал нийлж байвал “тийм (Т)” гэж тэмдэглэнэ, санал нийлэхгүй бол хоосон үлдээнэ. Өөрийгөө таних аялалдаа хөгжилтэй байгаарай, танд амжилт хүсье.  </p>
    </div>

    <form method="post">
      {{ innput|safe }}
      <button type="submit" class="submit-button">Илгээх</button>
    </form>
  </div>
</body>
</html>












